{# templates/cadeau/_form.html.twig #}
{{ form_start(form, { attr: { class: 'needs-validation', novalidate: 'novalidate' } }) }}
<div class="row g-3">
    <div class="col-md-6">
        {{ form_row(form.nomCadeaux, { attr: { class: 'form-control' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.typeCadeaux, { attr: { class: 'form-control' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.quantiteDisponible, { attr: { class: 'form-control' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.description, { attr: { class: 'form-control' } }) }}
    </div>
</div>
<div class="mt-4 text-end">
    <button class="btn btn-primary">
        <i class="bi bi-check-circle"></i> {{ button_label|default('Enregistrer') }}
    </button>
</div>
{{ form_end(form) }}
